@model cse355.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerticalSectionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerticalSectionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerticalSectionSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerticalSectionSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alloy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alloy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecificWeightInKG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecificWeightInKG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LengthInMeters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LengthInMeters)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightOnePieceInKG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightOnePieceInKG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
